// defines style for the article contents

#fullArticle {
  font-family: "Aktiv Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1em;

  * {
    max-width: 100%;
  }

  a, input, select, textarea {
    outline: 0!important;
  }

  h1, h2, h3, h4, h5, h6 {
    color: _color(charcoal, 600);
    font-weight: 500;
    margin-bottom: .65em;
  }

  h1 {
    font-size: 2em;
    margin: .67em 0;
  }

  h2 {
    font-size: 1.56em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }

  blockquote, dd, div, li, ol, p, table, ul {
    color: _color(charcoal, 400);
    line-height: 1.75em;
  }

  strong {
    color: _color(charcoal, 500);
  }

  blockquote {
    border-left: 2px solid _color(grey, 400);
    font-size: 1em;
    font-style: italic;
    margin: 1.5em 1.2em;
    padding:  0 0 0 1.5em;
  }

  hr {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 1px solid _color(grey, 400);
    margin: 2em auto;
  }

  pre {
    background: _color(grey, 300);
    border-radius: 3px;
    color: _color(charcoal, 400);
    font-family: 'Roboto Mono', Consolas, "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace;
    font-size: 1em;
    margin: 0 0 2em;
    overflow: auto;
    padding: 1.3em 1em;
  }

  ul, ol {
    list-style-position: inside;
    padding-left: 0.75em;
  }

  li {
    margin-bottom: 0.75em;
  }

  a {
    color: _color(blue, 500);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  dl {
    clear: both;
    margin: 0 0 1em;

    dt {
      background: _color(blue, 500);
      border-radius: 50px;
      color: _color(white);
      display: inline-block;
      float: left;
      font-size: 0.9em;
      height: 30px;
      line-height: 28px;
      margin: 0;
      text-align: center;
      vertical-align: baseline;
      white-space: nowrap;
      width: 30px;
    }

    dd {
      padding-top: 3px;
      margin: 0 0 1.5em 3em;
    }
  }

  .callout {
    $callout-brdr: 2px;
    $callout-copy-margin: 0 0 0.55em;
    $callout-margin: 0 0 2em;
    $callout-padding: 1em 1.5em;
    $callout-weight: 400;

    background: _color(grey, 300);
    border-left: 5px solid _color(grey, 500);
    border-radius: $callout-brdr;
    margin: $callout-margin;
    padding: $callout-padding;

    h1, h2, h3, h4, h5, h6, p {
      color: _color(charcoal, 500);
      font-weight: $callout-weight;
      margin: $callout-copy-margin;
    }

    pre {
      background: _color(grey, 400);
      color: _color(charcoal, 500);
      margin: $callout-copy-margin;
    }

    &.dashed {
      border: 1px dashed _color(grey, 700);
    }


    &-yellow {
      background: _color(yellow, 200);
      border-left: 5px solid _color(yellow, 400);
      border-radius: $callout-brdr;
      margin: $callout-margin;
      padding: $callout-padding;

      h1, h2, h3, h4, h5, h6, p {
        color: _color(yellow, 800);
        font-weight: $callout-weight;
        margin: $callout-copy-margin;
      }

      pre {
        background: _color(grey, 400);
        color: _color(charcoal, 500);
        margin: $callout-copy-margin;
      }

      &.dashed {
        border: 1px dashed _color(yellow, 700);
      }
    }

    &-blue {
      background: _color(blue, 200);
      border-left: 5px solid _color(blue, 400);
      border-radius: $callout-brdr;
      margin: $callout-margin;
      padding: $callout-padding;

      h1, h2, h3, h4, h5, h6, p {
        color: _color(blue, 800);
        font-weight: $callout-weight;
        margin: $callout-copy-margin;
      }

      pre {
        background: _color(grey, 400);
        color: _color(charcoal, 500);
        margin: $callout-copy-margin;
      }

      &.dashed {
        border: 1px dashed _color(blue, 500);
      }
    }

    &-green {
      background: _color(green, 200);
      border-left: 5px solid _color(green, 400);
      border-radius: $callout-brdr;
      margin: $callout-margin;
      padding: $callout-padding;

      h1, h2, h3, h4, h5, h6, p {
        color: _color(green, 800);
        font-weight: $callout-weight;
        margin: $callout-copy-margin;
      }

      pre {
        background: _color(grey, 400);
        color: _color(charcoal, 500);
        margin: $callout-copy-margin;
      }

      &.dashed {
        border: 1px dashed _color(green, 500);
      }
    }

    &-red {
      background: _color(red, 200);
      border-left: 5px solid _color(red, 400);
      border-radius: $callout-brdr;
      margin: $callout-margin;
      padding: $callout-padding;

      h1, h2, h3, h4, h5, h6, p {
        color: _color(red, 800);
        font-weight: $callout-weight;
        margin: $callout-copy-margin;
      }

      pre {
        background: _color(grey, 400);
        color: _color(charcoal, 500);
        margin: $callout-copy-margin;
      }

      &.dashed {
        border: 1px dashed _color(red, 500);
      }
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    thead {
      color: _color(charcoal, 600);
      font-weight: 500;

      th {
        display: table-cell;
        padding: 0.5em;
        text-align: left;
        vertical-align: bottom;

        &:first-child {
          border-top: 0;
        }
      }
    }

    td {
      border-top: 1px solid _color(grey, 400);
      padding: 0.5em;
      text-align: left;
      vertical-align: top;
    }

    &.table-striped {
      tr {
        &:nth-child(odd) {
          td {
            background: _color(grey, 200);
          }
        }
      }
    }

    &.table-bordered {
      border-collapse: separate;
      border-radius: 3px;
      border: 1px solid _color(grey, 400);
      border-left: 0;

      tr {
        &:first-child {
          td {
            border-top: 0;
          }
        }
      }

      th, td {
        border-left: 1px solid _color(grey, 400);
      }
    }
  }

  img {
    border-radius: 4px;
    border: 1px solid _color(grey, 400);
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.04);
    display: block;
    margin: 1em 0 2em;
    padding: 0.3em;

    &.noBdr {
      border: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }

}
