// This ID can be changed to another class. Using it for now since,
// it's used in our current docs.

#fullArticle {
  @import "../resets/base";

  // Reset Section
  color: _color(charcoal, 400);
  font-family: 'Roboto', 'Helvetica', sans-serif;
  line-height: 1.75em;

  // Base
  @import "../resets/selectors";
  @import "../base/base";
  @import "../base/blockquote";
  @import "../base/code";
  @import "../base/div";
  @import "../base/heading";
  @import "../base/hr";
  @import "../base/image";
  @import "../base/list";
  @import "../base/link";
  @import "../base/p";
  @import "../base/table";
  @import "../base/text";

  // Components
  @import "../components/callout";
}
