@import "pack/seed-color-scheme/_index";

// Text
@include _color((
  blue: (
    default: #1292EE,
    100: #F3FBFF,
    200: #D6EDFF,
    300: #A0D4FF,
    400: #57B0FB,
    500: #1292EE,
    600: #0077CC,
    700: #005CA4,
    800: #034077,
    900: #002651
  ),

  text: (
    default: _color(charcoal, 700),
    body: _color(charcoal, 400),
    heading: _color(charcoal, 700),
    subtle: _color(charcoal, 500),
    muted: _color(charcoal, 300),
    faint: _color(charcoal, 200),
  )
));
