@import "./colorway";

// Text
@include _color((
  text: (
    default: _color(charcoal, 700),
    body: _color(charcoal, 400),
    heading: _color(charcoal, 700),
    subtle: _color(charcoal, 500),
    muted: _color(charcoal, 300),
    faint: _color(charcoal, 200),
  )
));

@include _color((
  link: (
    default: _color(blue, 600),
    base: _color(blue, 600),
    hover: _color(blue, 500),
    active: _color(blue, 500),
    focus: _color(blue, 500),
  )
));
