@import "pack/seed-color-scheme/_index";

@mixin callout-styles($background, $border, $color, $dashed-color) {
  $callout-brdr: 2px;
  $callout-copy-margin: 0 0 0.3em;
  $callout-margin: 0 0 2em;
  $callout-padding: 1.2em 1em 1em;
  $callout-weight: 400;

  background: $background;
  border-left: 3px solid $border;
  border-radius: $callout-brdr;
  margin: $callout-margin;
  padding: $callout-padding;

  h1, h2, h3, h4, h5, h6, p {
    color: $color;
    font-weight: $callout-weight;
    margin: $callout-copy-margin;
  }

  pre {
    background: _color(grey, 400);
    color: _color(charcoal, 500);
    margin: $callout-copy-margin;
  }
  
  &.dashed {
    border: 1px dashed $dashed-color;
  }
}