@import "pack/seed-color-scheme/_index";

.c-article-container {
  background-color: white;
  box-shadow: #{
    0 1px 2px rgba(black, 0.08),
    0 4px 8px rgba(black, 0.08),
    0 12px 20px rgba(black, 0.04),
  };
  border: 1px solid _color(grey, 400);
  border-radius: 4px;
  box-sizing: border-box;
  height: 80vh;
  margin: auto;
  max-height: 600px;
  max-width: 406px;
  min-height: 480px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px;

}
