@import "pack/seed-color-scheme/_index";

ul, ol {
  list-style-position: outside;
  padding-left: 1em;
}

li {
  margin-bottom: 0.2em;
}

dl {
  clear: both;
  margin: 0 0 1em;

  dt {
    color: inherit;
    display: inline-block;
    float: left;
    font-size: 1em;
    font-weight:500;
    margin: 3px 0 0 0;
    padding:0 .5em;
    color:_color(charcoal, 600);
    border-left:3px solid _color(blue, 500);
  }

  dd {
    padding-top: 3px;
    margin: 0 0 1.5em 2em;
  }

  p:first-child {
    margin-top: 0;
  }
}
