// iOS :: Article

html {
    -webkit-text-size-adjust: none;
}

#fullArticle {
    padding: 0 15px;
    font: -apple-system-subheadline;
}

#fullArticle .c-Article__title {
    color: #2a3b47;
    font: -apple-system-title3;
    line-height: 1.2;
    margin-right: 20px;
    margin-bottom: 15px;
    word-wrap: break-word;
    font-weight: bolder;
}

#fullArticle .u-overflow-x {
    overflow-x: auto;
}

#fullArticle table.table-bordered { 
    border-collapse: collapse; 
}
